/* You can add global styles to this file, and also import other style files */
:root {
  --cream: #F2EAE2;
  --aurometal-saurus: #6C7289;
  --deep-aquamarine: #3D8168;
  --deep-aquamarine-hover: #1A4032;
  --gunmetal: #1C232B;

}

body, main {
  margin: 0;
  padding: 0;
  max-inline-size: 100%;
  inline-size: 100vw;
  block-size: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--cream);
}

.display-font {
  font-family: "Fraunces", serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}

.body-font {
  font-family: "Montserrat", serif;
  font-weight: medium;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0;
}

.button-text-font {
  font-family: "Montserrat", serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0;
}

.overline-font {
  font-family: "Montserrat", serif;
  font-weight: medium;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 5px;
}